@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: 'Pretendard', sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

.container h1 {
    position: fixed;
    top: 3vw;
    left: 3vw;
    font-size: 32px;
    color: #fff;
    z-index: 10;
}

.title {
    position: absolute;
    top: calc(55vh - 20vh - 5vh + 0px);
    left: calc(20vw - 5px);
    z-index: 10;
    font-size: 20vh;
    letter-spacing: -0.05em;
    color: #fff;
    /* mix-blend-mode: difference; */
    z-index: 10;
    line-height: 1;
    pointer-events: none;
}

.container::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    pointer-events: none;
}
.container::after {
    content: '';
    position: fixed;
    inset: 0;
    /* mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); */

    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
    backdrop-filter: blur(10px);
    z-index: 3;
    pointer-events: none;
}

.swiper,
.swiper-slide {
    width: 100%;
    height: 100%;
}

.pic-slider .swiper-slide {
    position: relative;
}

.name-slider {
    position: fixed;
    bottom: 5vh;
    left: 20vw;
    height: 45vh;
    z-index: 10;
}

.name-slider .swiper-slide {
    background: #fff;
    width: 140px;
    cursor: pointer;
    transition: background 0.5s;
    height: 100%;
    padding: 30px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.name-slider .swiper-slide:hover {
    background: #000;
    color: #fff;
}

.name-slider .swiper-slide p {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;

    transform: rotate(-90deg) translateY(65px);
    transform-origin: 0 50%;
}

#noise-bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: url('https://portfolio-v4-abjt14.vercel.app/assets/images/noise/noise.png') repeat 0 0;
    animation: noise 1s infinite;
    pointer-events: none;
    z-index: 9;
}

@keyframes noise {
    0%,
    100% {
        background-position: 0 0;
    }
    10% {
        background-position: -5% -10%;
    }
    20% {
        background-position: -15% 5%;
    }
    30% {
        background-position: 7% -25%;
    }
    40% {
        background-position: 20% 25%;
    }
    50% {
        background-position: -25% 10%;
    }
    60% {
        background-position: 15% 5%;
    }
    70% {
        background-position: 0 15%;
    }
    80% {
        background-position: 25% 35%;
    }
    90% {
        background-position: -10% 10%;
    }
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    pointer-events: none;
    width: 120px;
    height: 120px;
    background: rgba(11, 28, 101, 0.6);
    border-radius: 50%;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    margin-top: -5px;
    color: #fff;
}
